<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DEV2 WebApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Items Creators</a>
        <a class="nav-item nav-link" href="#">Items Synchronization</a>
        <a class="nav-item nav-link" href="#">Manager's Dashboard</a>
        <a class="nav-item nav-link" href="#">Daily Meetings</a>
        <a class="nav-item nav-link" href="#">Notifications</a>
        <a class="nav-item nav-link" href="#">Chat</a>
        <a class="nav-item nav-link" href="#">Job Scheduler</a>
        <a class="nav-item nav-link" href="#">Other</a>
        <a class="nav-item nav-link" href="#">Setup</a>
      </div>
    </div>
  </nav>