<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyMeetings</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DEV2 WebApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Items Creators</a>
            <a class="nav-item nav-link" href="#">Items Synchronization</a>
            <a class="nav-item nav-link" href="#">Manager's Dashboard</a>
            <a class="nav-item nav-link" href="#">Daily Meetings</a>
            <a class="nav-item nav-link" href="#">Notifications</a>
            <a class="nav-item nav-link" href="#">Chat</a>
            <a class="nav-item nav-link" href="#">Job Scheduler</a>
            <a class="nav-item nav-link" href="#">Other</a>
            <a class="nav-item nav-link" href="#">Setup</a>
          </div>
        </div>
      </nav>
    <h1>DailyMeetings</h1>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-dark" href="https://wwww.softsystem.pl">DEV2 WebApp</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>